.app {
  padding-bottom: 20rem; }

.slide-toggle {
  max-width: 300px;
  box-sizing: border-box; }
  .slide-toggle--special .progress-bar__inner {
    transition: background 300ms; }
  .slide-toggle--special.expanded .progress-bar__inner {
    background: rgba(255, 255, 255, 0.8); }
  .slide-toggle__header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem;
    position: relative;
    background: linear-gradient(90deg, #08bdbd, #08bdbd); }
  .slide-toggle__box {
    overflow: hidden;
    background-color: #fff; }
  .slide-toggle__box-inner {
    padding: 1rem;
    justify-content: center;
    align-items: center;
    line-height: 1.5; }
    .slide-toggle__box-inner p {
      margin: 0;
      padding: 0;
      margin-bottom: 1rem; }
    .slide-toggle__box-inner button {
      margin: 1rem auto 0;
      display: block; }

.state-values {
  border-top: 1px solid #08bdbd;
  padding: 1rem;
  font-weight: 300; }
  .state-values span:first-of-type {
    display: inline-block;
    min-width: 8rem; }

.content {
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: 1rem; }
  .content h1 {
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 300; }
  .content a {
    color: black; }
